<h1>What to do?</h1>

{% extends 'layout.html' %}

{% block body %}

    
    <br> 
    {% for task in all_tasks_done %}
        <div class='task'>
            {{ task.id }} - {{ task.name }} - {{ task.done }}
            <a href="{{ url_for('update', id=task.id) }}">Update</a>
            <a href="{{ url_for('delete_task', id=task.id) }}">Delete</a>

            {% if task.done %}
                <a href="{{ url_for('incomplete', id=task.id) }}">Mark as Incomplete</a>
            {% else %}
                <a href="{{ url_for('completed', id=task.id) }}">Mark as Completed</a>
            {% endif %}
            <br>
            <br>
        </div>
    {% endfor %}

{% endblock body %}